<h1>Stupid Coaching</h1>


<body>

<form action="/answer" method="get">
  <input type="text" name="question">
  <input type="submit" value="answer">
</form>

<!-- if
@answer ="I am going to work"
<p> Great! </p>
elsif
@answer.last = ?
<p> "Silly question, get dressed and go to work!" </p>
else
<p> I don't care, get dressed and go to work!</p>  -->






